# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dataset folders (if you don't want them in Git)
datasets/
data/
*/data/
**/data/
*.tar.gz
*.zip

# Model weights / outputs
*.pt
*.pth
*.onnx
*.h5
*.pb
yolo*.pt
**/yolo-Weights/
*.joblib

# YOLO training artifacts
runs/
**/runs/
*.cache

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log